<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jblog.mapper.UserMapper">

	<insert id="insert" parameterType="com.jblog.vo.UserVo">
		<![CDATA[
		insert into users(userno,id,username,password,joindate)
		values (seq_users_no.nextval,#{id},#{username},#{password},sysdate)
		]]>

		
	</insert>
	
	<select id="get" resultType="com.jblog.vo.UserVo" parameterType="string" >
		<![CDATA[
			select id
			from users
			where id=#{id}
		]]>
	</select>
	
	<select id="getByIdAndPassword" resultType="com.jblog.vo.UserVo" parameterType="com.jblog.vo.UserVo" >
		<![CDATA[
			select id
			from users
			where id=#{id} 
			and password=#{password}
		]]>
	</select>
	
	<select id="getUserName" resultType="String" parameterType="com.jblog.vo.UserVo" >
		<![CDATA[
			select username
			from users
			where id=#{id}
		]]>
	</select>
	
	<insert id="blogInsert" parameterType="string">
		<![CDATA[
		insert into blog(id,blogtitle,logofile)
            values (#{id},#{bname},null)
		]]>

		
	</insert>

</mapper>